

        {% extends 'parking/parking_data_layout.html' %}
        {% load crispy_forms_tags %}
        {% load humanize %}
        {% block setting_block %}

                <div class="col-md-12 row">
                  <div class="col-md-6">
                     <table class="table">
                      <tr>
                        <th>Car Number: </th>
                      <th>{{bill.parking.cardName}}</th>
                      </tr>
                      <tr>
                        <th>Entrace Time: </th>
                      <th>{{bill.parking.created_on}}</th>
                      </tr>
                      <tr>
                        <th>Exit/Billing Time: </th>
                      <th>{{bill.created_on}}</th>
                      </tr>
                       <tr>
                        <th> Minute(s): </th>
                      <th>{{bill.timespentInMinutes}}</th>
                      </tr>
                       <tr>
                        <th>Billing Amount: </th>
                      <th>{{bill.billedAmount|floatformat:2|intcomma:2}}</th>
                      </tr>

                    </table>
                  </div>
                  <div class="col-md-6">
                     <table class="table">

                      <tr>
                        <th><span class="text-black"> Paid Date </span></th>
                      <th>
                        {{payment.created_on}}
                      </th>
                      </tr>
                       <tr>
                        <th><span class="text-black"> PAID AMOUNT: </span></th>
                      <th>
                        {{payment.paidAmount|floatformat:2|intcomma:2}}
                      </th>
                      </tr>



                    </table>
                  </div>

                </div>

               {% endblock %}











