                            {% extends 'layout/master.html' %}
                            {% block content %}
                            {% load crispy_forms_tags %}
                            <div class="col-lg-10">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                       <h5 class="card-title">{{header}}</h5>

                                        <form method="post" > {% csrf_token %}

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.first_name|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.last_name|as_crispy_field}}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.email|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.mobile|as_crispy_field}}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.role|as_crispy_field}}
                                                </div>
                                                 <div class="col-md-6">

                                                </div>
                                            </div>



                                            <button class="btn btn-primary" type="submit">Save</button>
                                              <a class="btn btn-secondary" href="{% url 'roles' %}"><i class="fa fa-th-list"></i>Cancel</a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endblock %}
