
        {% extends 'setting/setting_layout.html' %}
         {% load crispy_forms_tags %}
        {% block setting_block %}
                             {% if form.errors %}
                            <div id="errors">
                                <div class="inner">
                                    <p>There were some errors in the information you entered. Please correct the following:</p>
                                    {{ form.non_field_errors }}
                                    <ul>
                                        {% for field in form %}
                                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                                <form method="post" > {% csrf_token %}

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.name|as_crispy_field}}
                                                </div>

                                                <div class="col-md-6">
                                                  {{form.perm|as_crispy_field}}
                                                </div>


                                            </div>

                                            <button class="btn btn-primary" type="submit">Save</button>
                                              <a class="btn btn-secondary" href="{% url 'roles' %}"><i class="fa fa-th-list"></i>Cancel</a>

                                        </form>


               {% endblock %}
























