

        {% extends 'setting/setting_layout.html' %}
         {% load crispy_forms_tags %}
        {% block setting_block %}
                             {% if form.errors %}
                            <div id="errors">
                                <div class="inner">
                                    <p>There were some errors in the information you entered. Please correct the following:</p>
                                    {{ form.non_field_errors }}
                                    <ul>
                                        {% for field in form %}
                                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                                <form class="forms-sample" method="post">{% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.first_name|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.last_name|as_crispy_field}}
                                                </div>

                                            </div>
                                            <div class="form-row">

                                                <div class="col-md-6">
                                                  {{form.mobile|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.email|as_crispy_field}}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.role|as_crispy_field}}
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.password|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.cpassword|as_crispy_field}}
                                                </div>
                                            </div>

                                      <button type="submit" class="btn btn-primary mr-2"> Save Now </button>
                                      <a href="{% url 'users' %}" class="btn btn-light">Cancel</a>
                                    </form>


               {% endblock %}































