<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KIKUNDISMAIT</title>
    <!-- plugins:css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/ionicons/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/typicons/src/font/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!--<link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.addons.css' %}">-->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/shared/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">

              <div class="auto-form-wrapper">
                <h4 style="text-align: center;"><button type="button" class="btn btn-icons btn-rounded btn-primary">
                            <i class="mdi mdi-home-outline"></i></button>KIKUNDISMATI</h4>
                <form action="" method="post">
                  {% csrf_token %}
                  {% if error %}
                  <div class="col-md-12 alert alert-danger">
                     {{error}}
                  </div>
                  {% endif %}
                  
                  <div class="form-group">
                    <label class="label"><b>Mobile</b></label>
                    <div class="input-group">
                      <input type="number" maxlength="10" minlength="10" name="username" class="form-control" value="0765222111" placeholder="eg 0752350620" required="true">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                    <input type="hidden" name="password" class="form-control" value="3456">
                    <small class="text-danger"><b>{% if form.password.error %} {{form.password.error}} {% endif %}</b></small>
                  </div>
                  <div class="form-group">
                    <label class="label">INGIA KAMA</label>
                    <div class="input-group">
                      <select name="role" class="form-control">
                       <option value="kiongozi">Kiongozi(Mhasibu/Mkit)</option>
                       <option value="mwanachama">Mwanachama</option>

                      </select>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block">INGIA</button>
                  </div>
                  <div class="form-group d-flex justify-content-between">

                    <!-- <a href="#" class="text-small forgot-password text-black">Forgot Password</a> -->
                  </div>

                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">Not a member ?</span>
                    <a href="register.html" class="text-black text-small">Create new account</a>
                  </div>
                </form>
              </div>
              <ul class="auth-footer">
                <li>
                  <a href="http://sacco.mifumotz.com" target="_balnk">Maelezo</a>
                </li>
                <!--<li>
                  <a href="#">Help</a>
                </li>
                <li>
                  <a href="#">Terms</a>
                </li>-->
              </ul>
              <p class="footer-text text-center"> ©  Mifumotz Technologies<br/><i class="fa fa-whatsap"></i>0752 350620</p>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/js/vendor.bundle.addons.js' %}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/shared/off-canvas.js' %}"></script>
  <!--  <script src="{% static 'assets/js/shared/misc.js' %}"></script>-->
    <!-- endinject -->
  </body>
</html>
