
        {% extends 'setting/setting_layout.html' %}
        {% block setting_block %}
        {% load roles_tags %}
        {%  is_admin  request.user as am_admin %}

                <div class="table-responsive">
                                    <div class="table-responsive">
                                      <table id="example" class="table tbl  table-bordered second" style="width:100%">
                                       <thead>
                                     <tr>
                                        <th>SN</th>
                                        <th>Jina</th>

                                         <th>Permission</th>
                                        <th style="width:12%;">Action</th>

                                         </tr>

                                            </thead>
                                            <tbody>
                                                {% for li in lists %}
                                            <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{li.name}}</td>

                                                <td>{% for per in li.perm.all %}{{ per }},<br/>{% endfor %}</td>
                                                <td>
                                                    {% if am_admin %}
                                                   
                                                     <a href="{% url 'update_role' li.id %}"> <i class="fa fa-edit text-info"></i></a>
                                                     <a href="{% url 'delete_role' li.id %}"> <i class="fa fa-trash text-danger"></i></a>
                                                  {% endif %}

                                            </tr>
                                            {% endfor %}
                                            </tbody>

                                    </table>
                                </div>
                                </div>
               {% endblock %}

               {% block js %}
              <script type="text/javascript">
                $(document).ready(function() {
                    $('.tbl').DataTable( {
                    destroy: true,
                    ordering:false,

                    dom: 'Bfrtip',

                    buttons: [
                    {% if can_manage_role_ %}
                       {
                                text: '+New',
                                className: 'orange, btn btn-primary',
                                 action: function (e, dt, node, config)
                                    {
                                     window.location.href = "{% url 'new_role' %}";

                                    }
                            }
                    {% endif %}
                    ]
                } );
                });
            </script>
            {% endblock %}












