

        {% extends 'setting/setting_layout.html' %}
        {% block setting_block %}
        {% load roles_tags %}
        {%  is_admin request.user as am_admin %}
                <div class="table-responsive">
                                    <div class="table-responsive">
                                     <table class="table tbl table-bordered">
                                      <thead>
                                            <tr>
                                               <th>SN</th>
                                                <th>JINA</th>
                                                 <th>EMAIL</th>
                                                <th>MOBILE</th>
                                                <th>ROLE</th>
                                                <th><i class="fa fa-th-large"></i> </th>

                                                <th>ACTION</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for li in lists %}
                                            <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{li.first_name|upper}} {{li.last_name|upper}}</td>
                                                <td>{{li.email}}</td>
                                                <td>{{li.mobile}}</td>
                                                <td>{{li.role.name}}</td>
                                                <td> <a href=""><i class="fa fa-th-large"></i> </a></td>
                                                {% if am_admin %}

                                                <td>
                                                     <a href="{% url 'update_user' pk=li.id %}">  <i class="fa fa-edit"></i></a>
                                                    <a href="{% url 'delete_user' pk=li.id %}">  <i class="fa fa-trash"></i></a>
                                                </td>
                                                {% endif %}

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                  </table>
                                </div>
                                </div>
               {% endblock %}

               {% block js %}
              <script type="text/javascript">
                $(document).ready(function() {
                    $('.tbl').DataTable( {
                    destroy: true,
                    ordering:false,

                    dom: 'Bfrtip',

                    buttons: [
                       {
                                text: '+New',
                                className: 'orange, btn btn-primary',
                                 action: function (e, dt, node, config)
                                    {
                                     window.location.href = "{% url 'new_user' %}";

                                    }
                            }

                    ]
                } );
                });
            </script>
            {% endblock %}










