

        {% extends 'setting/setting_data_layout.html' %}
        {% block setting_block %}
        {% load parking_tags %}
        {% load roles_tags %}
        {%  is_admin  request.user as am_admin %}
        {%  is_account  request.user as am_account %}
        {% time_setting_exists as time_setting_exists1 %}
        {% time_setting_exist_more as time_setting_exist_more2 %}


                <div class="table-responsive">
                                    <div class="table-responsive">
                                     <table class="table tbl table-bordered">
                                      <thead>
                                            <tr>
                                               <th>SN</th>
                                                <th>EVERY(HOUR)</th>
                                                <th>CHARGED AMOUNT</th>

                                                <th>ACTION</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for li in lists %}
                                            <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{li.hours}}</td>
                                                <td>{{li.chargeAmount}}</td>

                                                <td>
                                                    {% if am_admin %}

                                                    <a href="{% url 'update_fee_settings' pk=li.id %}">  <i class="fa fa-edit"></i></a>
                                                    {% if  time_setting_exist_more2 %}
                                                    <a href="{% url 'delete_fee_settings' pk=li.id %}">  <i class="fa fa-trash"></i></a>
                                                    {% endif %}
                                                    {% endif %}
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                  </table>
                                </div>
                                </div>
               {% endblock %}

               {% block js %}
              <script type="text/javascript">
                $(document).ready(function() {
                    $('.tbl').DataTable( {
                    destroy: true,
                    ordering:false,

                    dom: 'Bfrtip',

                    buttons: [

                    {% if am_admin %}
                    {% if not time_setting_exists1 %}
                       {
                                text: '+New',
                                className: 'orange, btn btn-primary',
                                 action: function (e, dt, node, config)
                                    {
                                     window.location.href = "{% url 'new_fee_settings' %}";

                                    }
                            }
                       {% endif %}
                       {% endif %}

                    ]
                } );
                });
            </script>
            {% endblock %}










