

        {% extends 'parking/parking_data_layout.html' %}
        {% load crispy_forms_tags %}
        {% load humanize %}
        {% block setting_block %}
                <div class="col-md-12">
                    <div class="col-md-12">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="row">

                                <div class="form-group col-3">
                                   {{form.cardName|as_crispy_field}}
                                 </div>
                                <div class="form-group col-3">
                                  {{form.fromdate|as_crispy_field}}
                                 </div>
                              <div class="form-group col-3">
                                   {{form.todate|as_crispy_field}}
                              </div>

                                 <div class="form-group col-3">
                                    <button type="submit" class="btn btn-primary float-right" >SEARCH</button>
                                 </div>


                            </div>
                                    </form>
                            </div>

                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                                    <div class="table-responsive">
                                     <table class="table tbl table-bordered">
                                      <thead>
                                            <tr>
                                               <th>SN</th>
                                                <th>Plate No</th>
                                                 <th>Arrived At</th>
                                                <th>Billing Time</th>
                                                <th>Billed Amount</th>
                                                <th>PAID AMOUNT</th>
                                                <th>ACTION</th>
                                                <th>PAYMENT</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for li in lists %}
                                            <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{li.parking.cardName}}</td>
                                                <td>{{li.parking.created_on}}</td>
                                                <td>{{li.created_on}}</td>
                                                <td>{{li.billedAmount|floatformat:2|intcomma:2}}</td>
                                                <td>{% if li.paidAmount %} {{li.paidAmount|floatformat:2|intcomma:2}} {% endif %}</td>


                                                <td>

                                                   {% if not  li.paidAmount %} <a href="javascript:;" onclick="confirm_billing('{% url 'generate_billing' pk=li.id %}');" class="btn btn-warning">  <i class="fa fa-credit-card" aria-hidden="true"></i>Make Payment</a>{% endif %}
                                                </td>
                                                <td>

                                                    <a href="{% url 'delete_parking' pk=li.id %}">  <i class="fa fa-trash"></i></a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                  </table>
                                </div>
                                </div>
                </div>

               {% endblock %}

               {% block js %}
              <script type="text/javascript">
                $(document).ready(function() {
                    $('.tbl').DataTable( {
                    destroy: true,
                    ordering:false,

                    dom: 'Bfrtip',

                    buttons: [
                       {
                                text: '+New',
                                className: 'orange, btn btn-primary',
                                 action: function (e, dt, node, config)
                                    {
                                     window.location.href = "{% url 'new_parking' %}";

                                    }
                            }

                    ]
                } );
                });
            </script>
            {% endblock %}










