<ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                        <li class="nav-item">
                                <a class="nav-link" href=""><i class="fa fa-bars"></i>Dashboard</a>
                        </li>
                         <li class="nav-item">
                                <a class="nav-link" href="{% url 'users' %}"><i class="fa fa-bars"></i>Users</a>

                        </li>
                    <li class="nav-item">
                                <a class="nav-link" href="{% url 'fee_settings' %}"><i class="fa fa-bars"></i>Settings</a>

                        </li>
                    <li class="nav-item">
                                <a class="nav-link" href="{% url 'parking_lists' %}"><i class="fa fa-bars"></i>Current Parkings</a>

                        </li>




                        <li class="nav-item">
                                <a class="nav-link" href=""><i class="fa fa-sign-out"></i>Logout</a>
                        </li>


                        </ul>

