{% extends 'master.html' %}
             {% load crispy_forms_tags %}
            {% load static %}


            {% block breadcab %}

                    <div class="col-sm-8">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">USERS</a></li>
                                    <li><a href="#">New User</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
          {% endblock %}
            {% block content %}
            <div class="row">

                <div class="col-lg-12">
                    <div class="card card-info">

                        <div class="card-body card-block">

                                <!--TABLE-->
                                <div class="card-header text-white" style="background-color: #007bff;">
                                   <strong class="card-title">{{header|upper}}</strong>
                                </div>
                            <div class="card-body">
                                {% if form.errors %}
                            <div id="errors">
                                <div class="inner">
                                    <p>There were some errors in the information you entered. Please correct the following:</p>
                                    {{ form.non_field_errors }}
                                    <ul>
                                        {% for field in form %}
                                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                                 <form method="post" > {% csrf_token %}

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.first_name|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.last_name|as_crispy_field}}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.email|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.mobile|as_crispy_field}}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.role|as_crispy_field}}
                                                </div>
                                                 <div class="col-md-6">

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                  {{form.password|as_crispy_field}}
                                                </div>
                                                <div class="col-md-6">
                                                  {{form.cpassword|as_crispy_field}}
                                                </div>
                                            </div>


                                            <button class="btn btn-primary" type="submit">Save</button>
                                              <a class="btn btn-secondary" href="{% url 'users' %}"><i class="fa fa-th-list"></i>Cancel</a>

                                        </form>
                                <!--END TABLE -->
                            </div>
                            </div>
                    </div>
                </div>

            </div>
            {% endblock %}
